<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div>
      <div><%= link_to "No place like 127.0.0.1", root_path %></div>
      <div><%= link_to "About me... well, not too much though because that'd be weird", about_me_path %></div>
      <div><%= link_to "Contact me, if you wish", talk_to_me_path %></div>
      <div><%= link_to "Blog without a dog :(", blogs_path %></div>
      <div><%= link_to "Ravioli, ravioli, what's it the portfolioli..", portfolios_path %></div>
    </div>
    
    <% if current_user.is_a?(User) %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "register", new_user_registration_path %>
      <%= link_to "login", new_user_session_path %>
    <% end %>
    
    <%= yield %>
    
    <% if session[:source] %>
      <p>Thanks for visiting me from... oh right! <%= session[:source] %>! I don't believe I've heard of <%= session[:source] %>. Sincerest of apologies, though <%= session[:source] %> musn't be that popular if I don't know about it.</p>
    <% end %>
  </body>
</html>