<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    
    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'shared/portf_nav' %>
    
    <%= render 'shared/portf_mast' unless logged_in?(:site_admin) %>

    <%= yield %>
    
    <footer class="text-muted">
      
    <%= render 'shared/portf_foot' %>
    
    <%= alerts %>

    <%= sourceH("portfolios") %>
  </body>
</html>