<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'shared/portf_nav' %>
    
    <%= render 'shared/portf_mast' %>
    
    <p class="notice"><%= notice %></p>
    
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
    <footer class="text-muted">
      
    <%= render 'shared/portf_foot' %>
    
    <!--<%= render "shared/application_nav", location: 'top' %>-->
    
    <%= render partial: 'portfolio_item', collection: @portfolio_item %> 

    <%= sourceH("portfolios") %>
  </body>
</html>