<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Flakey Karma</h3>
     <nav class="nav nav-masthead">
      <%= link_to "No place like 127.0.0.1", root_path, class: 'nav-link' %>
      <%= link_to "About me... well, not too much though because that'd be weird", about_me_path, class: 'nav-link' %>
      <%= link_to "Contact me, if you wish", talk_to_me_path, class: 'nav-link' %>
      <%= link_to "Blog without a dog.. :(", blogs_path, class: 'nav-link' %>
      <%= link_to "Ravioli, ravioli, what's it the portfolioli..", portfolios_path, class: 'nav-link' %>
    </nav>
  </div>
</div>