<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "//127.0.0.1", root_path, class: 'nav-link' %>
      <%= link_to "//AboutMe", about_me_path, class: 'nav-link' %>
      <%= link_to "//ContactMe", talk_to_me_path, class: 'nav-link' %>
      <%= link_to "//Blog", blogs_path, class: 'nav-link' %>
      <%= link_to "//Portfolio", portfolios_path, class: 'nav-link' %>
      <%= fa_icon "ra" %><%= link_to "//DankMemes", tech_news_path, class: 'nav-link', style: 'color: red' %><%= fa_icon "ra" %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>