<div>
  <div><%= link_to "No place like 127.0.0.1", root_path %></div>
  <div><%= link_to "About me... well, not too much though because that'd be weird", about_me_path %></div>
  <div><%= link_to "Contact me, if you wish", talk_to_me_path %></div>
  <div><%= link_to "Blog without a dog.. :(", blogs_path %></div>
  <div><%= link_to "Ravioli, ravioli, what's it the portfolioli..", portfolios_path %></div>
</div>